* {
    padding:0;
    margin: 0;
}

body{
    overflow-x:hidden ;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

h2{
    font-size: 50px;
}

p{
    font-family: Montserrat;
    font-weight: 300;
}

/*HEADER CSS*/

header {

    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

header h1 {
    font-size: 70px;
    padding-bottom: 30px;
}

header p {
    font-size: 30px;
    width: 70%;
}

header img {
    width:450px;
    user-select: none;
}

/*ABOUT ME*/
.cont1{
    height:70vh;
}

.about {
    margin: auto;
    width: 50%;
    height:50vh;
    background-color: #191919;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h2{
    text-align: center;
    padding:15px;
}

.about p{
    padding:15px;
    font-size:18px;
    width:50%;
    margin: auto;
    text-align: center;
}


/*SKILLS*/
.intskills {
    width: 100%;
    height: 75vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.intskills div {
    padding: 20px;
}

.intskills .graph{
    width:20%;
}

.intskills img{
    width:600px;
}

.intskills li {
    list-style: none;
    width:100%;
    padding:3px;
}

.intskills h2 {
    padding:10px 0;
}

.intskills ul {
    padding:10px 0;
}

.intskills  h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 45px;
}

.bar{
    background-color: #E4E4E2;
    display: block;
    height:13px;
    border: 1px solid #191919;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25,1);
}

.bar span{
    height:13px;
    float: left;
    border-radius: 20px;
    background-color: #191919;
}

.dev {
    width:65%;
}

.des {
    width:80%;
}

.prog {
    width: 60%;
}

.comp {
    width: 85%;
}



/* DETAILS */
#extra {
    width:100%;
    height:75vh;
    margin-bottom: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#extra div {
    padding: 25px;
}

#extra h2{
    text-align: right;
    padding:15px 0 ;
}

#extra ul {
    padding:15px 0;
}

#extra img {
    width:550px;
}

#extra li {
    font-family: Montserrat;
    line-height: 35px;
    text-align: right;
    list-style: none;
}

/* FOOTER */
.foot{
    width:100%;
    height:60vh;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.foot div {
    width:70%;
}

.foot p{
    color:#C7B7A0;
    font-size: 30px;
    padding: 10px 0;
}

.foot ul{
    padding: 25px 0;
}

.foot li {
    color: #C7B7A0;
    list-style: none;
    display: inline-block;
    font-family: MONTSERRAT;
    padding-right:15px;
}

.foot a {
    text-decoration: none;
    color: #C7B7A0;
}

.foot a:hover{
    border-bottom: 1px solid #C7B7A0;
}


